<!--
	Expected data:

	post: {
		title: string,
		body: string,
		author: string,
		date: string
	}
-->

<article class="blogpost">
	<header>
		<h3>{{title}}</h3>
	</header>
	<main>
		<p>
			{{body}}
		</p>
	</main>
	<footer>
		<p>{{author}}</p>
		<p>{{date}}</p>
	</footer>
</article>

