
<!--
	Expected:
	posts: Array<{
		title: string,
		viewLink: string,
		body: string,
		author: string,
		date: string
	}>
-->
<div class="dashboard">
	<div class="dashboard-right">
		<a class="button" href="/post/new">Create new post</a>
	</div>
	<div class="dashboard-left">
		{{#each posts as |post|}}
		<a class="nonchor" href={{viewLink}}>{{> postcard}}</a>
		{{/each}}
	</div>
</div>