<!--
	Expected data:

	posts: Array<{
		title: string,
		body: string,
		author: string,
		date: string
		viewLink: string,
	}>
-->

<div class="feed">
	{{#each posts as |post|}}
		<a class="nonchor" href={{viewLink}}>{{> postcard}}</a>
	{{/each}}
</div>
