<div class="new-post">
	<form id="new-post-form" class="new-post-form">
		<input class="textinput" type="text" name="title" id="title" placeholder="An interesting title">
		<textarea class="textarea" name="body" id="body"></textarea>
		<button class="button" type="submit">Post</button>
	</form>
</div>
<script src="/js/new-post.js"></script>