<div class="signin-container main">
	<div class="signin-card">
		<form id="signup-form" class="signin-form">
			<div>
				<input required placeholder="Display Name" class="textinput" type="displayname" name="displayname" id="displayname">
				
				<input required placeholder="Email" class="textinput" type="email" name="email" id="email">

				<input required placeholder="Password" class="textinput" type="password" name="password" id="password">
			</div>
			<div>
				<button class="button" type="submit">Sign Up</button>
			</div>
		</form>
		<script src="/js/signup.js"></script>
	</div>
</div>