<div class="signin-container main">
	<div class="signin-card">
		<form id="signin-form" class="signin-form">
			<div>
				<input required placeholder="Email" class="textinput" type="email" name="email" id="email">

				<input required placeholder="Password" class="textinput" type="password" name="password" id="password">
			</div>
			<div>
				<button class="button" type="submit">Sign In</button>
			</div>
		</form>
		<script src="/js/signin.js"></script>
		<p>
			Not a user? <a href="/signup">Sign up!</a>
		</p>
	</div>
</div>