<!--
	Expected objects:
	post: {
		id: number
		title: string,
		body: string,
		author: string,
		date: string
		comments: Array<{
			body: string,
			author: string,
			date: string
		}>
	}
-->

<div class="feed">
	{{#with post}}
		{{> postcard}}
	{{/with}}
	<div class="comments">
		<div class="column-left">
			<h2>Comments:</h2>
		</div>
		<div class="column-right">
			{{#if loggedIn}}
				<form id="submit-comment-form" class="new-comment-form">
					<input type="number" hidden value={{post.id}}>
					<textarea required placeholder="Leave a comment." name="comment-body" id="comment-body" class="textarea"></textarea>
					<button class="button" type="submit">Comment</button>
				</form>
			{{/if}}
			<script src="/js/submit-comment.js"></script>
			{{#each post.comments as |comment|}}
				{{> comment}}
			{{/each}}
		</div>
	</div>
</div>